h1{
  font-size: 1.266rem !important;
  font-family: "Josefin Sans" !important;
}
input{
  background-color: transparent !important;
  color: white !important;
}
p{
  font-size: 0.866rem !important;
  line-height: 1.5rem !important;
}
.bg{
  position: absolute !important;
  height: 100% !important;
  width: 100vw !important;
  background-image: url("img/welcome-1.jpeg") !important ;
  margin: 0;
  background-size: cover !important;
  color: white !important;
}
.bg-red{
  background-color: red !important;
  color: white !important;
}
.glass{
  border-radius: 0.5rem !important;
  position: relative !important;
  margin: auto auto auto auto;
  background-color: transparent !important;
  backdrop-filter: blur(12px) !important;
  box-shadow:0 10px 30px rgba(0,0,0,0.3) !important;
  
  width: 19rem !important;
  height: 26rem !important;
}
